<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AppBarbershop</title>
  </head>
  <body>
    <!-- Navbar fijo -->
    <nav id="navbar" class="fixed top-0 left-0 right-0 bg-stone-200 h-26 z-10"></nav>

    <!-- Fondo desde debajo del nav -->
<body>
  <!-- Navbar fijo -->
  <nav class="fixed top-0 left-0 right-0 bg-stone-200 h-26 z-10"></nav>

  <!-- Fondo completo debajo del navbar -->
  <main class="pt-26">
    <section
      class="h-[calc(100vh-0rem)] bg-[url('./imgs/fondoBarber.png')] bg-cover bg-center bg-no-repeat flex flex-col items-center justify-center text-white"
    >

      <div class="flex justify-around gap-4 mt-10 w-full max-w-md">
        <a
          class="bg-slate-500 py-2 px-4 rounded-lg text-white font-bold hover:bg-slate-600 w-full text-center transition ease-in-out"
          href="/login/"
        >Login</a>
        <a
          class="bg-stone-500 py-2 px-4 rounded-lg text-white font-bold hover:bg-stone-600 w-full text-center transition ease-in-out"
          href="/signup/"
        >SignUp</a>
      </div>
    </section>
  </main>

  <script src="/components/nav.js"></script>
</body>
</html>