<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>AppBarbershop</title>
</head>
<body>
    <nav class="fixed top-0 left-0 right-0  bg-stone-500 h-16">
    <div class="max-w-7xl h-16 mx-auto flex items-center px-4 justify-between">
        <p class="font-bold text-xl">Barbershop</p>
        <!-- <img src="/imgs/LogoBarber.png" alt="logo"> -->

        <!-- version mobile -->
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>

    </div>
    </nav>

        <p>¡Descubre nuestros servicios y regístrate para disfrutar de una experiencia única!</p>
    <button id="signup-button">Registrarse</button>
    <button id="login-button">Iniciar Sesión</button>

</body>
</html>